#social-networks {
  margin: 0 auto;
  width: 40%;
}

.social-network {
  background: url('../images/social-networks.png') no-repeat top left;
  display: inline-block;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: all 0.2s ease;
} 

.twitter {
  background-position: -1134px 0;
}

.social-network.twitter:hover, .active .social-network.twitter {
  opacity: .5;
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}

.tumblr {
  background-position: -1050px 0;
}

.social-network.tumblr:hover, .active .social-network.tumblr {
  opacity: .5;
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}

.facebook {
  background-position: -210px 0;
}

.social-network.facebook:hover, .active .social-network.facebook {
  opacity: .5;
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}

.linkedin {
  background-position: -504px 0;
}

.social-network.linkedin:hover, .active .social-network.linkedin {
  opacity: .5;
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}

.pinterest {
  background-position: -756px 0;
}

.social-network.pinterest:hover, .active .social-network.pinterest {
  opacity: .5;
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}

.googleplus {
  background-position: -336px 0;
}

.social-network.googleplus:hover, .active .social-network.googleplus {
  opacity: .5;
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}

.email {
  background-position: -1260px 0;
}

.social-network.email:hover, .active .social-network.email {
  opacity: .5;
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}

.instagram {
  background-position: -378px 0;
}

.social-network.instagram:hover, .active .social-network.instagram {
  opacity: .5;
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}

#social-networks a {
  margin: 0 8px 12px 0;
}

.clearfix {
  clear:both;
}

.main-content h3 {
  font-weight: 300;
  margin: 0;
  color: #ccc;
  font-size: 1.5em;
}

.main-content p {
  color: #777;
  line-height: 22px;
}

.header-content {
  padding: 1em;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.main-content h4 {
  font-weight: 300;
  color: #888;
  font-size: 1.3em;
}